<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">
<head>
  <meta charset="UTF-8" />
  <title>User Dashboard</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <section class="py-5">
    <div class="container">
      <div class="card card2 mx-auto" style="max-width: 700px;align-items: center" th:if="${contact}">
        <img alt="image" th:src="@{'/uploads/images/' + ${contact.image}}" class="img_thumbnail2 mb-3" style="align-items: center!important;"/>
        <h3 th:text="${contact.name}" class="mt-2 mb-4" style="color: white"></h3>

        <table class="table table-borderless text-start">
          <tbody>
            <tr>
              <td class="pointhead">Email</td>
              <td class="text-center"><span th:text="${contact.email}" ></span></td>
            </tr>
            <tr>
              <td class="pointhead">Phone</td>
              <td class="text-center"><span th:text="${contact.phone}"></span></td>
            </tr>
            <tr>
              <td class="pointhead">Work</td>
              <td class="text-center"><span th:text="${contact.work}"></span></td>
            </tr>
            <tr>
			  <td colspan="2" class="pointhead text-center">Description</td>
			</tr>
			<tr>
			  <td colspan="2" class="text-center">
			    <span th:utext="${contact.description}"></span>
			  </td>
			</tr>
			<tr>
			<td colspan="2" class="text-center">
                    <button class="btn btn-warning btn-sm btn-update w-100 mb-3 fw-bold">Update</button>
                    <button class="btn btn-danger btn-sm w-100 fw-bold">Delete</button>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div>
    	<h1 th:unless="${contact}" style="color: red; text-align: center; font-weight: bold; margin-top: 20px;">
		    You don't have any kind of ID.
		</h1>
    </div>
  </section>
</body>
</html>
