<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>user_dashboard</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<section style="color:white;">
		<h1 style="text:white">Contacts</h1>
		
		<div class="container mt-5 rounded table-responsive rounded overflow-hidden ">
   <table class="tablecon table align-middle tablecon ">
        <thead class="tablecon2">
            <tr>
                <th style="color:#ffc105" scope="col">#</th>
                <th style="color:#ffc105" scope="col">Name</th>
                <th style="color:#ffc105" scope="col">Second Name</th>
                <th style="color:#ffc105" scope="col">Email</th>
                <th style="color:#ffc105" scope="col">Phone</th>
                <th style="color:#ffc105" scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="c, stat : ${contacts}">
                <th scope="row" th:text="${stat.index + 1}">1</th>
                <td th:text="${c.name}">Mark</td>
                <td th:text="${c.secondName}">Otto</td>
                <td th:text="${c.email}">@mdo</td>
                <td th:text="${c.phone}">@mdo</td>
                <td>
                    <button class="btn btn-danger btn-sm">Delete</button>
                    <button class="btn btn-warning btn-sm btn-update">Update</button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- pagination -->
    <nav class="pagination-nav mb-5" aria-label="Page navigation example mb-5">
	  <ul class="pagination mb-5">
	    <li class="page-item" th:if="${currentPage != 0}"><a class="page-link" th:href="@{'/user/show_contacts/'+${currentPage-1}}" >Previous</a></li>
	    <li class="page-item" th:classappend="${currentPage==i-1?'active':''}" th:each="i : ${#numbers.sequence(1,totalPages)}"><a class="page-link" th:href="@{'/user/show_contacts/'+${i-1}}" href="#"><span th:text="${i}"></span></a></li>
	    <li class="page-item" th:if="${currentPage+1 != totalPages}"><a class="page-link" th:href="@{'/user/show_contacts/'+${currentPage+1}}" href="#">Next</a></li>
	  </ul>
	</nav>
</div>
		
		
	</section>
</body>
</html>
